* [adjustment-ratio]:not([adjustment-ratio=""]) {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        right: calc(100% + 7px);
        content: attr(adjustment-ratio);
    }
}
.typeset-paragraph {
    text-align: justify;

}
.typeset-line {
    margin-bottom: -1em !important;
    display: block;
    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
    &:last-of-type {
        &:after {
            display: none;
        }
    }
}
