* [adjustment-ratio]:not([adjustment-ratio=""]) {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        right: calc(100% + 7px);
        content: attr(adjustment-ratio);
    }
}
p {
    line-height: 1.14;
}
.typeset-paragraph {
    text-align: justify;
}
.typeset-line {
    // margin-bottom: -1.13em !important;
    // height: 1.14em;
    display: block;
    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
    &:last-of-type {
        &:after {
            display: none;
        }
    }
}
.typeset-block {
    display: block;
}
