tsb-line {

    @supports (text-align-last: justify) {
        display: inline-block;
        width: 100%;
    }
    @supports not (text-align-last: justify) {
        display: block;
    }

    &:last-of-type {
        word-spacing: normal;
    }
}
tsb-hyphen {
    &:after {
        content: '-';
    }
}

.typesetbot-justify {
    text-align: justify;
    tsb-line {
        @supports (text-align-last: justify) {
            text-align: justify;
            @include text-align-last(justify);

            &:last-of-type {
                @include text-align-last(auto);
            }
        }
        @supports not (text-align-last: justify) {
            &:after {
                content: "";
                display: inline-block;
                width: 100%;
            }
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
        }

    }
}
.typesetbot-right tsb-line {
    text-align: right;
}
.typesetbot-left tsb-line {
    text-align: left;
}
.typesetbot-center tsb-line {
    text-align: center;
}

