tsb-line {
    display: block;
}
.typesetbot-justify {
    text-align: justify;

    tsb-line {
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
        &:last-of-type {
            &:after {
                display: none;
            }
            word-spacing: normal;
        }
    }
}
.typesetbot-right tsb-line {
    text-align: right;
}
.typesetbot-left tsb-line {
    text-align: left;
}
.typesetbot-center tsb-line {
    text-align: center;
}
